.place__website-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.place__website-link:hover {
  transition:0.2s linear;
  opacity: 0.3;
}
