.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 24px;
  margin-left: 18px;
  padding-bottom: 6px;
  color: #FFFFFF;
}
.header__lang-link:hover {
  transition:0.2s linear;
  opacity: 0.3;
}
@media screen and (max-width: 767px) {
  .header__lang-link {
    color: #FFFFFF;
    width: 22px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}
