.header__logo {
  width: 176px;
  height: 52px;
  justify-items: start;
  background: url(../../../images/__logo.svg);
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
    justify-items: flex-start;
    background-size: 100%;
  }
}
