.lead__title {
  text-align: center;
  margin: 56px auto 0;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}
@media screen and (max-width: 1279px) {
  .lead__title {
    margin: 48px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .lead__title {
    min-width: 288px;
    text-align: center;
    margin: 39px auto 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}
