.cover {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 92px;
  position: relative;
  margin: auto;
}
@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
   padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding: 0;
  }
}
