.place {
  display: grid;
  grid-template-columns: minmax(288px, 460px) minmax(min-content, 484px);
  gap: 48px 40px;
  grid-template-areas:
    "title website"
    "image paragraph";
  justify-content: center;
  margin: 80px auto;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: minmax(288px, 440px) minmax(min-content, 455px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(340px, 340px) minmax(352px, 352px);
    gap: 48px 28px;
    margin: 71px auto 0;
  }

  .place:nth-of-type(5) {
    margin: 75px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: minmax(288px, 460px) minmax(min-content, 484px);
    gap: 0;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    margin: 48px auto 41px;
  }

  .place:nth-of-type(5) {
    margin: 48px auto 41px;
  }
}
